<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordyka.kantinkorperasiitdel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KantinKorperasiITDel"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".adapter.AdapterRiwayat"
            android:exported="false" />
        <activity
            android:name=".activity.RiwayatPemesanAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailRiwayatPemesananActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RiwayatPemesananActivity"
            android:exported="false" />
        <activity
            android:name=".activity.koperasi.PembelianAdminKoperasiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.koperasi.PemesananAdminKoperasiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.kantin.EditAdminKantinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.kantin.CreateAdminKantinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.kantin.MainAdminKantinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.koperasi.CreateAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.koperasi.EditAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.koperasi.MainAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BaruActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MasukActivity" />
        <activity android:name=".activity.RegisterActivity" />
    </application>

</manifest>